<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://miro.medium.com/v2/resize:fit:1400/1*fKb9TdxSYjVzWindUWaGUg.png" 
            alt=""
            height="200px"
            srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                It is a long established fact that a reader will be 
                distracted by the readable content of a page when looking at its layout.
            </a>             
        </p>
    </div>
</div>
